.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    margin: 0;
    background-repeat: no-repeat;
    background-size: 1450px 700px;
}
.register-box {
    width: 320px;
    padding: 30px;
    /* background-color: rgba(255, 255, 255, 0.615); */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.register-bg {
    background-color: #2574a9;
}

.register-box h2 {
    margin-bottom: 25px;
    text-align: center;
    font-size: 24px;
    color: rgb(224, 19, 239);
    
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    color: rgb(224, 19, 239);
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: calc(100% - 16px);
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}
#btnr {
    width: 100%;
    padding: 12px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #2574a9; /* Darker shade on hover */
}


a:hover {
    text-decoration: underline;
}
